@charset "UTF-8";
@import url("../font/font/arita.css");
body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
#nav li a,
#topbar,
input,
button,
select,
textarea,
a,
.wf-container > *,
.widget-title,
.dwqa-container,
#wpmem_reg,
#wpmem_login {
  font-family: "arita-light", "arita-sans-light" !important;
  color: rgb(255, 255, 255);
}



.login a{
	color:#000;
}



/*----------------nav_main_menu > start----------------*/

.nav_background {
  z-index: 999;
  position: fixed;
  width: 100%;
  
}
a {
  text-decoration-line: none;
}

.nav_main_menu {
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  z-index: 999;
  font-weight: bold;
}

.nav {
  width: 900px;
  height: 70px;
}

.nav_main_menu ul {
  float: left;
}
.nav_main_menu li {
  text-align: center;
  display: inline-block;
  font-size: 25px;
  padding: 25px 0 0 0;
  width: 150px;
}
/*----------------nav_main_menu > end----------------*/

/*----------------sliding_menu > start----------------*/

#sliding_menu ul {
  float: left;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 18px 0 0 0;
  width: 150px;
}
#sliding_menu li {
  line-height: 1.9em;
}
.nav_main_menu img {
  margin: -25px -28px 0 0;
  height: 70px;
  width: 130px;
}

#sliding_menu {
  display: none;
  height: 150px;
  position: absolute;
  left: 150px;
  top: 70px;
  opacity: 1;
  background: rgba(216, 216, 216, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);

  border-radius: 10px;
  z-index: 9999;
}

#sliding_menu a {
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0px 10px;
  line-height: 25px;
}
/*----------------sliding_menu > end----------------*/

/*-----------------profli > start---------------*/
#profli {
  float: right;
}
#profli .main_profli img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 7px;
  right: 70px;
}

#profli .main_profli p {
  position: absolute;
  top: 28px;
  right: 150px;
  font-size: 20px;
  color: #fff;
}

#profli .main_profli button {
  position: absolute;
  top: 50px;
  right: 65px;
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  background-color: #fff;
  color: black;
  transition: all 0.3s;
  box-shadow: 1px 1px 3px rgb(197, 197, 197);
}

#profli .main_profli button:hover {
  box-shadow: inset 1px 1px 3px rgb(197, 197, 197);
}
/*---profli_menu---*/
#profli_menu {
  background-color: #dbdbdb;
  opacity: 0.7;
  border-radius: 20px;
  border: none;
  width: 300px;
  height: 430px;
  position: absolute;
  top: 100px;
  right: 60px;
  display: none;
  transition: 0.5s;
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}
#profli_menu ul {
  text-align: center;
  font-size: 18px;
}
#profli_menu li {
  padding: 15px 0 5px 0;
}

#profli_menu img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#profli_menu p,
#profli_menu a {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

#profli_menu hr {
  border: thin solid rgba(167, 166, 166, 0.7);
}

#profli_menu button {
  width: 130px;
  height: 40px;
  border: none;
  background: #fff;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: aqua;
  margin-top: 0px;
}

#profli_menu button:hover {
  box-shadow: inset 1px 1px 3px rgb(197, 197, 197);
}
/*-----------------profli > end---------------*/

/*------------------------------------------main-----------------------------------------*/

/*background*/


.layer {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*background*/

.search-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-box input {
  font-weight: bold;
  color: black;
  width: 60vh;
  height: 4vh;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  text-align: center;
  
}

.search-box button {
  font-size: 1.7em;
  color: #000;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  height: 4vh;
  width: 4vh;
  border-radius: 50px;
}

.search-box button:hover {
  box-shadow: inset 1px 1px 3px rgb(160, 160, 160);
}

/*main_hover_menu*/

.main_hover_menu {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main_hover_menu img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  opacity: 0.5;
  z-index: -5;
}
.main_hover_menu li p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-weight: bold;
}
.main_hover_menu_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1500px;
}

.main_hover_menu_1 li {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffe7e7;
  font-size: 20px;
  margin: 70px 50px 0 50px;
  transition: all ease 0.3s;
}
/*호버*/
.snip1489 {
  position: relative;
  font-size: 40px;
  color: #e6e6e6;
  width: 75px;
  margin: 40px;
  height: 75px;
  line-height: 75px;
  display: inline-block;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1489:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 5px solid #e6e6e6;
  content: "";
  z-index: -1;
  border-radius: 50%;
}
.snip1489:before {
  color: #fff;
}
.snip1489:before,
.snip1489:after {
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.snip1489:hover,
.snip1489:active,
.snip1489.hover {
  color: #c0392b;
}
.snip1489:hover:after,
.snip1489:active:after,
.snip1489.hover:after {
  border-color: transparent #c0392b;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/*제목*/
/* Non essential CSS - Just for example centering */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.center-outer {
  display: table;
  width: 100%;
  height: 100%;
}

.center-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* Essential CSS - Makes the effect work */
.content_box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bubbles {
  display: inline-block;
  font-family: arial;
  position: relative;
}

.bubbles h1 {
  position: relative;
  margin: 1em 0 0;
  font-family: "Luckiest Guy", cursive;
  color: rgb(255, 202, 202);
  z-index: 2;
  font-size: 100px;
  font-weight: bold;
}

.individual-bubble {
  position: absolute;
  border-radius: 100%;
  bottom: 10px;
  background-color: rgb(255, 232, 232);
  z-index: 1;
  width: 80px;
}
