<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.study.mapper.memberMapper">	<!-- dao에서 마이바티스를 이용해 쿼리를 찾는 역할 -->

    <!-- 로그인 -->
	<select id="login" parameterType="MemberVo" resultType="MemberVo">
		SELECT mid, mpwd
		  FROM table_member
		 WHERE mid = #{mid}
		   AND mpwd = #{mpwd}
	</select>
	<select id="selectById" parameterType="String" resultType="int">
		SELECT COUNT(mid)
		  FROM table_member
		 WHERE mid = #{mid}
	</select>
	<insert id="register" parameterType="MemberVo">
		 insert into table_member(  midx 
		 							,mid
	   					       		, mpwd
	   					       		, mname
	   					       		, mnumber
	   					       		, mphone
	   					       		, maddrdetail
	   					       		, mmaddzipnum
	   					       		, memail
	   					       		 	)
	                  values(   midx_seq.nextval
	                  			, #{mid} 
	                 		   , #{mpwd}
	                 		   , #{mname}
	                 		   , #{mnumber}
	                 		   , #{mphone}
	                 		   , #{maddrdetail}
	                 		   , #{mmaddzipnum}
	                 		   , #{memail}
	                 		   )
	                 		   
	</insert>
	
	
</mapper>