<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 

<mapper namespace="edu.study.mapper.shotMapper">
	<select id="shotList" resultType="shotVo">
		select cdNm
			  ,cdDate
			  ,cdCount
			  ,cdFC
			  ,cdCharge
			from table_shot
	</select>
	
	<select id="selectinfo" resultType="shotVo">
		select cdNm
			  ,cdDate
			  ,cdCount
			  ,cdFC
			  ,cdCharge
			from table_shot
	</select>
	
	<insert id="reserveInsert" parameterType="reserveVo">
		<![CDATA[
		INSERT INTO TABLE_reserve(
		rcase,
		rhospital,
		rname,
		rdate,
		rtime,
		rbuy,
		midx,
		rstate
		)VALUES(
		#{rcase},
		#{rhospital},
		#{rname},
		#{rdate},
		#{rtime},
		#{rbuy},
		#{midx},
		#{rstate}
		)
		]]>
		
		<selectKey resultType="int" keyProperty="ridx" order="AFTER">
			select max(ridx)
			from table_reserve
		</selectKey>
	</insert>
	
	<select id="reservelist" resultType="ReserveVo">
		select	ridx,
				rcase,
				rhospital,
				rname,
				rdate,
				rtime,
				rbuy,
				MIDX
			from table_reserve
	</select>
	
	<update id="updatebuy" parameterType="boardVo">
		update table_reserve
		set
		rstate = 'c'
		where rbuy = #{rbuy}
	</update>
</mapper>
