<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
				"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!-- 브이오 먼저 만들고 작업 -->

	<typeAliases>
		<typeAlias type="edu.study.vo.MemberVo" alias="MemberVo"/>	<!-- alias는 별칭을 지어주는 역할-->
		<typeAlias type="edu.study.vo.BoardVo" alias="BoardVo"/>
		<typeAlias type="edu.study.vo.ReserveVo" alias="reserveVo"/>
		<typeAlias type="edu.study.vo.SearchCriteria" alias="scri"/>
		<typeAlias type="edu.study.vo.CriteriaVO" alias="criVo" />
		<typeAlias type="edu.study.vo.FileVO" alias="fileVO" />
		<typeAlias type="edu.study.vo.ReplyVO" alias="ReplyVO" />
		<typeAlias type="edu.study.vo.ShotVo" alias="shotVo"/>
		<typeAlias type="edu.study.vo.LikeVO" alias="likeVO"/>
    </typeAliases>
    	
</configuration>